<header style="overflow: hidden;">
	<div class="safeWidth">
		<div class="clearfix">
			<div class="left_side btc_index">BTC合约首页</div>
			<div class="right_side btc_index">
				<span class="fontColor header_login">登录&nbsp;&nbsp;&nbsp;</span>
				<span class="fontColor header_res">注册</span>
			</div>
		</div>
		
	</div>
</header>
<div class="heder_bg">
	<div class="clearfix safeWidth">
		<p class="left_side">BTC合约交易</p>
		<ul class="clearfix right_side">
			<li class="left_side"><a href="../home/index.html">首页</a></li>
			<li class="left_side"><a href="../stock/index.html">A股配资</a></li>
			<li class="left_side"><a href="">合约交易</a></li>
			<li class="left_side"><a href="">帮助中心</a></li>
			<li class="left_side"><a href="../account/index.html">账户中心</a></li>
		</ul>
	</div>
</div>
