<!-- <div class="head">
    <a href="javascript:;" class=""></a>
    <p>@@title</p>
    <i>@@btn</i>
</div> -->
<footer>
    <div  class="safeWidth">
        <div class="contentWay clearfix">
            <ul class="left_side">
                <li>联系方式</li>
                <li>电话：0571-87758264</li>
                <li>邮箱：scds@96871.com.cn</li>
                <li>QQ：2591407630</li>
                <li>传真：0571-87758264</li>
            </ul>
            <div class="right_side">
                <p>扫码下载APP</p>
                <div>二维码</div>
            </div>
        </div>  
        <p class="contentWay fontColor">风险提示：比特币不由货币当局发行，不具有法偿性与强制性，具有极高的价格波动风险，请在风险自担的前提下谨慎投资。</p>
    </div>
</footer>