<div class="login">
    <ul>
        <li class="clearfix">
            <div class="left_side icontColor"><i class="iconfont icon-msnui-tel"></i></div>
            <input type="text" name="" placeholder="请输入手机号码" class="left_side login_phone">
        </li>
        <li class="clearfix">
            <div class="left_side icontColor"><i class="iconfont icon-mima"></i></div>
            <input type="password" name="" placeholder="请输入密码" class="left_side login_pwd">
        </li>
        <li><p class="login_fgt">忘记密码?</p></li>
        <li>
            <input type="button" name="" value="登录" class="login_btn">
        </li>
        <li class="clearfix">
            <p class="left_side login_res">快速注册</p>
            <p class="right_side login_mes">短信验证码登录</p>
        </li>
    </ul>
    <div class="res_close"><i class="iconfont icon-guanbi"></i></div>
</div>