<div class="meslogin">
    <ul>
        <li class="clearfix">
            <div class="left_side icontColor"><i class="iconfont icon-msnui-tel"></i></div>
            <input type="text" name="" placeholder="请输入手机号码" class="left_side mes_phone">
        </li>
        <li class="clearfix">
            <div class="left_side icontColor"><i class="iconfont icon-mima"></i></div>
            <input type="password" name="" placeholder="请输入短信验证码" class="left_side mes_code">
            <input type="button" value="发送验证码" class="left_side mes_code_btn" onclick="GLOBAL.setTime(this)">
        </li>
        <li>
            <input type="button" name="" value="登录" class="mes_btn">
        </li>
    </ul>
    <div class="res_close"><i class="iconfont icon-guanbi"></i></div>
</div>