.banner{
    // border:5px solid #000; 
    width:100%;
    height:450px;
    position: relative;
    overflow: hidden;
    .img {
        width:500%;
        position: absolute;
        left:0px;
        top:0px;
        li {
            float:left;
            img {
                width: 100%;
                height: 450px;
            }
        }
    }
    .num {
        position:absolute;
        width:100%;
        bottom:20px;
        left:0px;
        text-align: center;
        font-size: 0px;
        li {
            width:15px;
            height:15px;
            background: #888;
            border-radius: 50%;
            display: inline-block;
            margin:0 3px;
            cursor: pointer;
        }
    }
    .btn {
        width:30px;
        height:50px;
        background: rgba(0,0,0,0.5);
        position:absolute;
        top:50%;
        margin-top:-25px;
        cursor: pointer;
        text-align: center;
        line-height: 50px;
        color:#fff;
        font-size: 40px;
        font-family: "宋体";
        display: none;
    }
    .btn_l {
        left:0px;
    }
    .btn_r {
        right:0px;
    }
}
.banner .num li.on{
    background: #f00;
}
.banner:hover .btn{
    display: block;
}
.index_zs {
    width: 1100px;
    margin: 0 auto;
    overflow: hidden;
    .index_zs_more {
        border-bottom: 1px solid #d4d4d4;
        p{
            height: 60px;
            line-height: 60px;
            font-size: 20px;
        }
        div {
            margin-top: 12px;
            padding: 5px 10px;
            font-size: 16px;
            border: 1px solid #d4d4d4;
            border-radius: 5px;
            color: #666666;
        }
    }
    .index_zs_list {
        margin:20px 0 30px;
        padding-left: 20px;
        overflow: hidden;
        li{
            float: left;
            width: 200px;
            height: 120px;
            box-shadow: 0px 0px 5px 5px #cecece;
            margin-right: 50px;
            border-radius: 5px;
            background: url(../../static/images/K_line.png) no-repeat  left bottom ;
            p {
                margin:10px 0 0 20px;
            }
            .zs_profit {
                padding: 5px 0;
                border-radius: 5px;
                color: #fff;
                width: 60px;
                font-size: 12px;
                text-align: center;
            }
        }
        
    }
}
.index_trade {
    width: 1100px;
    margin: 0 auto;
    overflow: hidden;
    .index_trade_title {
        background: #e6e7ef;
        li {
            text-align: center;
            height: 50px;
            line-height: 60px;
            float: left;
        }
    }
    .index_trade_list {
        li {
            height: 50px;
            line-height: 50px;
            border-bottom: 1px solid #d4d4d4;
            p {
                float: left;
                text-align: center;
                input {
                    width: 80px;
                    height: 30px;
                    border: 1px solid #248ad2;
                    color: #248ad2;
                    border-radius: 5px;
                    background: #fff;
                }
            }
        }
    }
    .Pagebox {
        display: table;
        margin: 0 auto;
        margin-top: 50px;
    }
}
.res_bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5)
}